# Ignore cache directories
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Ignore log files
*.log

# Ignore local virtual environments
venv/
.env

# Ignore database files
*.db
*.sqlite

# Ignore test directories
tests/